.navbar{
    height:50px;
    width: 100vw;
    background-color: #1b005d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;

}
.logo{
    color: #b6b8b8 ;
    font: Sans Serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
   
}
.logoName{
    word-spacing: 3px;
    letter-spacing: 3px;

}
.navbarButtons{
    display: flex;
    align-items: center;
    gap: 35px;
  color:#b6b8b8 ;
  font-family: sans-serif;
  font-size: 13px; 
  padding-right: 20px;
}
.privacy , .tandC{
   text-decoration: underline;
}