.container {
  height: 100vh;
  width: 100vw;
  display: flex;
   background-color:#f3f6fd;
}

.left {
  height: 100vh;
  width: 55vw;
 background-color: #f3f6fd;
  display: flex;
}

.right {
  height: 100vh;
  width: 45vw;
}

.dashboard {
  height: 100%;
  width: 35%;
  background-color: white;
}

.resumeCard {
  /* Add something here so it's visible, e.g., */
  /* background-color: pink; */
  width: 100%;
  height: 100%;
}
