.main{
    height: 100vh;
    width: 100vw;
    background-color: #381186;
    display: flex;

    
    
}
.left
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 50px 0 50px 160px;
    flex-direction: column;
    gap: 46px;
}
.heading{
   display: flex;
   flex-direction: column;
   gap: 35px;
}
.headingPara{
    color: #b6b8b8 ;
    font-size: 40px;
    gap: 40px;
    line-height: 1.5;
}
.para{
    color:#b6b8b8 ; 
    font-size: 15px;
   
    line-height: 2;

}

.buttons{
    display: flex;
    gap: 10px;
    
}

.getButtons{
    background-color: #3f8795;
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    box-shadow: rgba(11, 11, 11, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
}

.previewButton{
    background-color:#4e2c94 ;
    border: none;
    padding: 10px 30px;
    color: white;  
    box-shadow: rgba(11, 11, 11, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
height: 520px;
width: 800px;
box-shadow: rgba(11, 11, 11, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 20px;
}
@media (max-width: 1380px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .left, .right {
    width: 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .left {
    padding: 40px 20px;
    gap: 30px;
  }

  .headingPara {
    font-size: 32px;
    text-align: start;
    padding-left: 60px;
  }

  .para {
    font-size: 14px;
    line-height: 1.8;
    text-align: start;
      padding-left: 60px;
  }

  .buttons {
    flex-direction: row;
    gap: 15px;
    align-items: start;    
    justify-content:flex-start;
  }

  .getButtons{
    width:80%;
    font-size: 15px;
    padding: 10px 30px;
    text-align: start;
    cursor: pointer;
  }
   .previewButton {
    width: 56%;
    cursor: pointer;
   }

  .image {
    height: auto;
    width: 90%;
    max-width: 600px;
  }
}
